.container {
  /* Header container */
}

.breadcrumbs {
  flex: 1;
  overflow: hidden;
}

.breadcrumbLink {
  cursor: pointer;
  white-space: nowrap;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}

